.btn {
    display: inline-block;
    background-color: transparent;
    color: $btn-color;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    border: $border-width solid transparent;
    border-radius: $border-radius;
    padding: $btn-padding-y $btn-padding-x;
    transition: $btn-transition-base;

    &:hover {
        color: $btn-hover-color;
    }
}

.btn-bordered {
    border-color: $btn-border-color;

    &:hover {
        border-color: $btn-hover-border-color;
    }
}

.btn-rounded {
    padding: $btn-rounded-padding-y $btn-rounded-padding-x;
    border-radius: $btn-rounded-border-radius;
}
