.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    white-space: nowrap;

    &.nav-vertical {
        flex-flow: column;

        .nav-link {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.nav-item {
    display: block;
}

.nav-link {
    display: block;
    font-family: $nav-link-font-family;
    color: $nav-link-color;
    padding: $nav-link-padding-y $nav-link-padding-x;
    text-decoration: $link-decoration;
    transition: $nav-link-transition;

    &:hover {
        color: $nav-link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    &.active {
        color: $nav-link-active-color;
    }
}
