@import 'fonts';
@import 'grid';
@import 'nav';
@import 'buttons';
@import 'card';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $body-bg;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $body-color;
    line-height: $line-height-base;
    padding-top: $body-padding-top;
    margin: 0;

    @media (min-width: map-get($grid-breakpoints, 'md')) {
        padding-top: $body-padding-top * 2;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $headings-color;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-style: $headings-font-style;
    line-height: $headings-line-height;
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
}

h1, .h1 {
    font-size: $h1-font-size;
}

h2, .h2 {
    font-size: $h2-font-size;
}

h3, .h3 {
    font-size: $h3-font-size;
}

h4, .h4 {
    font-size: $h4-font-size;
}

h5, .h5 {
    font-size: $h5-font-size;
}

h6, .h6 {
    font-size: $h6-font-size;
}


dl, ol, ul, p {
    margin-top: 0;
}

p {
    margin-bottom: $paragraph-margin-bottom;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
    transition: $link-transition-color;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

address {
    font-style: normal;
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
}

.blog-headline {
    margin-bottom: $spacer;

    > * {
        margin-bottom: 0;
    }
}

.blog-empty {
    color: $gray-300;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
