<template>
  <section id="showcases" class="blog-showcase">
    <div class="container">
      <div class="blog-headline">
        <h3 class="h4">
          RECENT PROJECTS
        </h3>
      </div>
      <div class="showcase-filters">
        <ul class="nav">
          <li
            v-for="(nav, index) in navs"
            :key="index"
            class="nav-item"
          >
            <a
              class="nav-link"
              :class="{ active: index === 0 }"
              :href="nav.href"
              :data-category="nav.filters.category"
              :aria-label="nav.label"
              :ref="'filter-nav'"
              v-on:click.prevent="onNavClick"
            >
              {{ nav.label }}
            </a>
          </li>
        </ul>
      </div>
      <div class="showcase-item-scroll">
        <transition
          name="fade"
          v-on:before-enter="beforeFade"
          v-on:enter="enterFade"
          v-on:leave="leaveFade"
          mode="out-in"
          :css="false"
        >
          <transition-group
            v-if="showcaseFilters.length > 0"
            class="showcase-items"
            name="fade"
            v-on:before-enter="beforeFade"
            v-on:enter="enterFade"
            v-on:leave="leaveFade"
            tag="div"
            :css="false"
            mode="out-in"
          >
            <div
              v-for="(showcase, index) in showcaseFilters"
              :key="`item-${index}`"
              class="card"
            >
              <div class="card-thumbnail">
                <img
                  class="img-responsive"
                  :src="showcase.thumbnail"
                  :alt="showcase.title"
                >
              </div>
              <div class="card-body">
                <h6 class="card-title">
                  {{ showcase.title }}
                </h6>
                <p class="card-text">
                  {{ showcase.description }}
                </p>
              </div>
              <div class="card-footer">
                <a
                  v-if="showcase.link"
                  class="btn btn-bordered card-btn"
                  :href="showcase.link"
                  aria-label="Link on the website"
                >
                  Website
                </a>
                <a
                  v-if="showcase.appstore_link"
                  class="btn btn-bordered card-btn"
                  :href="showcase.appstore_link"
                  aria-label="Link on the App Store"
                >
                  <blog-fa-icon :icon="['fab', 'apple']" />
                </a>
                <a
                  v-if="showcase.playstore_link"
                  class="btn btn-bordered card-btn"
                  :href="showcase.playstore_link"
                  aria-label="Link on the Play Store"
                >
                  <blog-fa-icon :icon="['fab', 'android']" />
                </a>
                <a
                  v-if="!showcase.link && !showcase.appstore_link && !showcase.playstore_link"
                  class="btn btn-bordered card-btn"
                >
                  Comming Soon...
                </a>
              </div>
            </div>
          </transition-group>
          <div v-else class="blog-empty">
            No showcase yet.
          </div>
        </transition>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      navs: [
        { label: 'All', href: '#all', filters: { category: 'all' } },
        { label: 'News', href: '#news', filters: { category: 'news' } },
        { label: 'E-Commerce', href: '#e-commerce', filters: { category: 'e-commerce' } },
        { label: 'Creative', href: '#creative', filters: { category: 'creative' } },
        { label: 'Entertainment', href: '#entertainment', filters: { category: 'entertainment' } }
      ],
      category: null,
      showcases: []
    }
  },

  computed: {
    showcaseFilters () {
      return (this.category !== null && this.category !== 'all')
        ? this.showcases.filter(showcase => showcase.category === this.category)
        : this.showcases
    }
  },

  methods: {
    onNavClick (e) {
      this.category = e.target.dataset.category

      this.$refs['filter-nav'].filter(vnode => vnode.classList.contains('active'))
        .forEach(vnode => vnode.classList.remove('active'))

      e.target.classList.add('active')
    },

    beforeFade (el) {
      el.style.opacity = 0
    },

    enterFade (el, done) {
      Velocity(el, {
        opacity: 1
      }, {
        duration: 300,
        complete: done
      })
    },

    leaveFade (el, done) {
      Velocity(el, {
        opacity: 0
      }, {
        duration: 300,
        complete: done
      })
    }
  }
}
</script>

<style lang="scss">
.blog-showcase {
  margin-bottom: $spacer * 4;

  .showcase-filters {
    margin-bottom: $spacer;

    .nav-item:not(:last-child) {
      margin-right: .5rem;
    }

    .nav-link {
      border: $border-width solid $gray-300;
      border-radius: 1rem;
      line-height: 1;

      &:hover,
      &.active {
        border-color: $nav-link-active-border-color;
      }

      @media (max-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: .5rem;
      }
    }
  }

  .showcase-item-scroll {
    .showcase-items::-webkit-scrollbar {
      display: none;
    }
  }

  .showcase-items {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: $spacer;
    margin-left: -$spacer;
    margin-right: -$spacer;
    overflow-x: scroll;

    &::before,
    &::after {
      display: block;
      flex-shrink: 0;
      width: 16px;
      content: '';
    }

    .card {
      width: 260px;

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
}
</style>
