<template>
  <div id="home" class="blog-header">
    <div class="container header-container">
      <h1 class="text-hero">
        Hi!, My name’s <b>Atom.</b><br>
        I’m a freelance <b>Full-Stack Web Developer</b>.
      </h1>
      <ul class="nav social-nav">
        <li
          v-for="(nav, index) in navs"
          :key="index"
          class="nav-item"
        >
          <a
            class="nav-link"
            :href="nav.href"
            :aria-label="nav.label"
          >
            <blog-fa-icon :icon="nav.icon"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navs: [
        { label: 'Facebook', href: 'https://facebook.com/a.sumranphan', icon: ['fab', 'facebook-square'] },
        { label: 'Twitter', href: 'https://twitter.com/a.sumranphan', icon: ['fab', 'twitter'] },
        { label: 'Github', href: 'https://github.com/a.sumranphan', icon: ['fab', 'github'] },
        { label: 'Facebook Messenger', href: 'https://messenger.facebook.com/a.sumranphan', icon: ['fab', 'facebook-messenger'] },
        { label: 'Line', href: 'https://line.me/ti/p/gU5R6bIhJ8', icon: ['fab', 'line'] }
      ]
    }
  }
}
</script>

<style lang="scss">
.blog-header {
  padding-top: 4rem;
  padding-bottom: 6rem;

  .container {
    @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
      max-width: 375px;
    }
  }

  .text-hero {
    font-weight: normal;

    @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
      text-align: center;
    }
  }

  .social-nav {
    @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
      justify-content: center;
    }

    .nav-link {
      font-size: $font-size-base * 2;
      padding: 0;
      margin-right: $spacer;
    }
  }
}
</style>
